<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="automation.register.TC_RF_001"/>
      <class name="automation.register.TC_RF_003"/>
      <class name="automation.register.TC_RF_004"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
